box.battery {
    icon {
        padding-right: 20px;

        &.charging,
        &.high {
            color: $status_good;
        }

        &.medium {
            color: $status_warning;
        }

        &.low {
            color: $status_critical;
        }
    }
}