button.workspace.focused {
  background: $focused_bg_color;
  // padding-right: 100px;
}

button.workspace.focused.has-clients {
  background: $focused_bg_color;
}

button.workspace.has-clients {
  background: $has_clients_bg_color;
}