$theme_bg_color: rgba(17, 17, 27, 1);
$theme_fg_color: rgba(24, 24, 37, 1);
$active_bg_color: rgb(235, 160, 172, 1);
$text_color: rgba(205, 214, 244, 1);

$status_good: rgba(0, 255, 0, 1);
$status_warning: rgba(255, 255, 0, 1);
$status_critical: rgba(255, 0, 0, 1);